.news {
    background-color: #f5f3e3;
    border: 1px solid  #000;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;

    &_item {
        padding-top: 8px;
    }

    &_link {
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
}
